<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devwaters.freebaluster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.devwaters.freebaluster.AngledTaperedBaluster"
            android:label="Angled Tapered"
            android:exported="false" />
        <activity
            android:name="com.devwaters.freebaluster.TaperedBaluster"
            android:label="Tapered Baluster"
            android:exported="false" />
        <activity
            android:name="com.devwaters.freebaluster.AngledAttachedBaluster"
            android:label="Angled Attached"
            android:exported="false" />
        <activity
            android:name="com.devwaters.freebaluster.AttachedBaluster"
            android:label="Attached Baluster"
            android:exported="false" />
        <activity
            android:name="com.devwaters.freebaluster.AngledRunBaluster"
            android:label="Angled Run"
            android:exported="false" />
        <activity
            android:name="com.devwaters.freebaluster.FlatRunBaluster"
            android:label="Flat Run"
            android:exported="false" />
        <activity
            android:name="com.devwaters.freebaluster.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>